/* ==== IDEIGLENES SZÍNEK ==== */
.purple {
    background: purple
}
.yellow {
    background: yellow
}
.brown {
    background: brown
}

/* ==== KONTÉNEREK ==== */
header {
    width: 100vw;
    height: 15vh;
}

/* ==== ELEMEK ==== */
.header {
    display: inline-block;
    height: 15vh;
}

header h1 {
    position: relative;
    bottom: 10px;
    font-size: 35px;
    color: white;
    margin: 0px
}
/* .right {
    float: right
} */

.share {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-size: 20px
}